# Qt Creator temporary files
**/.qmake.stash
**/.qtcreator/
**/*.pro.user
**/*.pro.user.*
**/*.qbs.user

# Qt / qmake build files
**/Makefile
**/Makefile.*
**/*.o
**/*.obj
**/moc_*.cpp
**/moc_*.o
**/qrc_*.cpp
**/ui_*.h

# Build folders
**/build*/
**/debug/
**/release/

# Executables and libraries
**/*.exe
**/*.dll

# Runtime databases
**/*.db
**/*.sqlite

# Backup files
**/*.bak

# Python cache from old prototype
**/__pycache__/
**/*.pyc
